@{
    ViewBag.Title = "Index";
}

<h2>Hello Paisa Payment Client ASP.NET MVC- Home page</h2>

<h3>Use the HTTPS version of the client ifnot then you will get protocol exception</h3>


@Html.ActionLink("Pay from Hello Paisa","Index","HelloPaisaPayment")


@Html.ActionLink("Paye from Hello Paisa With IVR for authentication","Index","HPPaymentIVR")